<!-- option-trading.component.html -->
<head></head>
<script>
  window.onload = function() {
    // Set the desired width and height
    window.resizeTo(400, 300); // Replace with your preferred width and height
  };
</script>
<body>
<div class="option-trading">
  <h2 class="title" title="This application will help to trade easy and its best suitable for scalpers">Uday's - 1 Click Trade</h2>
  <!-- <label for="accounts">Select Accounts:</label>
  <div *ngFor="let account of accounts">
    <label>
      <input type="checkbox" [(ngModel)]="account.selected" (change)="onCheckboxChange()">
      {{ account.name }}
    </label>
  </div> -->
  <div class="checkbox-container" id="slenabled">
    <label title="tick here to save your funds">-2K:</label> &nbsp;&nbsp;<input type="checkbox" [(ngModel)]="slenabled" (change)="onCheckboxChange()">
    <label class="lable-mtm" title="tick here to lock you profit">MTM:</label>
    <input type="checkbox" [(ngModel)]="mtmenabled" (change)="onMTMChange()" title="tick here to lock you profit">
    <input class="mtmbox" type="number" [(ngModel)]="mtmlockvalue" pattern="[0-9]*" title="Only numbers are allowed" >
  </div>
  <label for="index">INDEX:</label>
  <select id="indexSelectOptions" [(ngModel)]="selectedIndex" (change)="onIndexSelection()">
    <option *ngFor="let option of indexOptions" [value]="option">{{ option }}</option>
  </select>
  <label for="expiry">EXPIRY:</label>
  <select id="expiry" [(ngModel)]="selectedExpiry">
    <option *ngFor="let option of indexExpiry" [value]="option">{{ option }}</option>
  </select>
  <div class="quantity-container">
    <label for="quantity">LOTS:</label> <input class="quantity-class" type="number" (input)="updateQuantity($event)"
      [(ngModel)]="inputQuantity" title="Only numbers are allowed">
      &nbsp;&nbsp; Qty: &nbsp;&nbsp; <input class="mtmbox" id="quantity" type="number" [(ngModel)]="quantityFromBackend" pattern="[0-9]*" title="Only numbers are allowed" >
    <!-- <p [ngStyle]="setMessageColor(response)" id="quantity">Quantity:&nbsp;&nbsp; {{quantityFromBackend}}</p> -->
  </div>
  <label for="strike">OPTION STRIKE:</label>
  <select #myDropdown id="strike" [(ngModel)]="selectedStrike" autofocus title="select strike to place order">
    <option *ngFor="let option of indexStrike" [value]="option">{{ option }}</option>
  </select>
  <div>
    <table>
      <tr>
        <td width="200px" id="balance" title="Your Account Balance"><p>AV: {{funds}}</p></td>
        <td><p id="balance"  title="Your Profit and loss">P&L: {{ profitOrLoss}}</p></td>
      </tr>
    </table>
  </div>
  <table>
    <tr>
      <td>
        <button (click)="onCallBuy()" class="my-button">Call Buy(C)</button>
      </td>
      <td>
        <button id="sell" (click)="onCallSell()" class="my-button">Call Sell(X)</button>
      </td>
      </tr>
      <tr>
      <td>
        <button (click)="onPutBuy()" class="my-button">Put Buy(P)</button>
      </td>
      <td>
        <button id="sell" (click)="onPutSell()" class="my-button">Put Sell(O)</button>
      </td>
      
    </tr>
    <tr>
      <td>
        <button (click)="onExitPositions()" class="my-button1">Exit All Positions(E)</button>
      </td>
      <td>
          <button (click)="cancelPendingOrders()" class="my-button1">Orders Cancel(Z)</button>
      </td>
    </tr>
  </table>

  <p [ngStyle]="setMessageColor(response)" id="message" >{{response}}</p>
</div>
</body>